<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Search Results</title>
</head>
<body>
    <h1>Flight Search Results</h1>
    {% if message %}
    <p>{{ message }}</p>
    {% else %}
    <ul>
        {% for flight in flights %}
        <!-- <li>Flight Number: {{ flight['flight_num'] }}, Airline: {{ flight['airline_name'] }}, Price: {{ flight['price'] }}</li> -->
        <li>Flight Number: {{ flight[0] }}, Airline: {{ flight[1] }}, Price: {{ flight[2] }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
